<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.4" />
    <meta name="author" content="Lykon, Lollo, Neeja, Petrachi" />
    <title>Netkit Lab Generator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap.vertical-tabs.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/dbtek/bootstrap-vertical-tabs/master/bootstrap.vertical-tabs.min.css" />
    <link rel="stylesheet" href="css/vis.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABjUlEQVQ4ja2RsW7aQByHP87ns2Mj180YlQeIOrBU4nmKisQ7IPECDCwMTHkIxIY6MdKFocrGGzTCjm2dzz6lA9gNahQpaX/TXyd99/3vd/CP6ex2u6/H4/HuHayN4/hbZ7PZ6H6/71VV9SbadV32+/2TNMZ4VVUxHo//XG3tX0Ce59T1EwDX1x9YLpcYYzoSoCxLAKbTKdvtlsPh0IJJklAUBdY6APi+z+Nj2jKiGQDm8zmDwYCbm08kSUKSJKSpJssMAN1uhFJXuK6iEQuAuq6x1jIajVitVtzf/2Q4HHJ7+xmtNb7v0+1GCOGgVIDv+9R1DYB8/t7FYkEQBFhrmc1mWOtcgEI4CCGQUrVdSQCtNXmeE8cxRVGcWw4JwyuUCk4m6QLgeQFZ9oDW+nRelmVbSFmWGGPOZX28sHpe0G4qhEPDyedfZYzBWovrhigVIKV7Ab4U2awShiFpmp7tDvALKRVZ9tBam3jeadZaIxtoMpm8anopaZoioyj6sV6vv7yZBnq93vf3cP83vwGLvrOpZ8u5AwAAAABJRU5ErkJggg==" />
    <script src="js/page.js"></script>
</head>
<body class="bg-logos">
<script>
    var isIE = navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > 0;
    if (isIE)
        document.write('<p class="browserupgrade"><strong>Internet Explorer<\/strong> is not supported. Please upgrade your browser to <a href="https://www.google.com/chrome/browser/desktop/">Chrome<\/a> or <a href="https://www.mozilla.org/firefox/new/">Firefox<\/a>.<\/p>');
</script>
<h1>Netkit Lab Generator</h1>
<h4></h4>
<hr />
<div id="description">
    This tool allows to quickly generate most of the files and folders you need to run a working netkit lab.
    The main purpose is to quickly generate the files and folders needed with low configuration options, so more
    advanced funtionalities are omitted and some others are set by default (like zebra username and password).

    Remember to # tar -czvf nome_archivio.tar.gz nome_cartella_da_archiviare !
</div>
<hr />

<br />

<div data-ng-app="napp" data-ng-controller="nc">
    <div class="col-xs-1">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li id="tab-home" class="tab-label active"><a href="#home" data-toggle="tab" onclick="toggle_tab(event, this)">Home</a></li>
            <li id="tab-graph" class="tab-label"><a href="#graph" data-toggle="tab" onclick="toggle_tab(event, this)">Graph</a></li>
        </ul>
    </div>
    <div class="col-xs-10">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <table id="labInfo">
                    <tr>
                        <th>Lab informations</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label>Description:</label>
                                <input type="text" data-ng-model="labInfo.description" class="form-control" placeholder="Exam 1-A 'Pendant'" />
                            </div>
                            <div>
                                <label>Author(s):</label>
                                <input type="text" data-ng-model="labInfo.author" class="form-control" placeholder="M. Rossi, F. Bianchi" />
                            </div>
                            <!--<div>
                                <label>Version:</label>
                                <input type="text" data-ng-model="labInfo.version" class="form-control" placeholder="1.0" />
                            </div>
                            <div>
                                <label>Email:</label>
                                <input type="email" data-ng-model="labInfo.email" class="form-control" placeholder="m.rossi@provider.dom" />
                            </div>
                            <div>
                                <label>Website:</label>
                                <input type="text" data-ng-model="labInfo.web" class="form-control" placeholder="http://yoursite.dom" />
                            </div>-->
                        </td>
                    </tr>
                </table>

                <div class="clear"></div>

                <div class="btn btn-success" data-ng-click="addMachine()">Add machine</div>
                <div class="btn btn-danger" data-ng-click="removeMachine()" data-ng-disabled="counter<=1">Remove last machine</div>

                <br />

                <table id="netkit">
                    <tr>
                        <th>Machine informations</th>
                        <th>Network interfaces</th>
                        <th>STATIC routing</th>
                        <th colspan="4">Additional functions</th>

                    </tr>

                    <tr data-ng-repeat="x in netkit track by $index">
                        <td>
                            <div><label>Machine {{x.row}}:</label>
                                <input type="text" data-ng-model="x.name" class="form-control" placeholder="pc" required /></div>
                            <input title="type" type="radio" value="terminale" data-ng-model="x.type" /> Terminal<br />
                            <input title="type" type="radio" value="router" data-ng-model="x.type" /> Router (WebSwitch)<br />

                            <input title="type" type="radio" value="ns" data-ng-model="x.type" /> Name Server<br />
                            <input title="type" type="radio" value="ws" data-ng-model="x.type" /> Web Server<br />
                            <p style="color:orange"><br />NB: WS vanno configurati <br />
                              come Router poi manualm. <br />
                              si deve scrivere dentro <br />
                              ws.startup politica e rotte <br />
                              Vedi tabella sotto!</p>
                        </td>
                        <td class="interfaces">
                            <div class="btn btn-success" data-ng-click="addInterface(x)">Add interface</div>
                            <div class="btn btn-danger" data-ng-click="removeInterface(x)" data-ng-disabled="x.interfaces.counter<=1">Remove last interface</div><br />
                            <div class="hidelasthr" data-ng-repeat="i in x.interfaces.if">
                                <div><label>Nome LAN su <strong style="color:red">eth{{i.eth.number}}</strong>:</label>
                                    <input type="text" data-ng-model="i.eth.domain" class="form-control" placeholder="A" required /></div>
                                <div><label> <strong style="color:red">IP/sub</strong> dell'interfaccia: </label>
                                    <input type="text" data-ng-model="i.ip" class="form-control" placeholder="0.0.0.0/0" pattern="(^$)|(((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$)" /></div>
                                <div><label> Nome DNS: </label>

                                    <input type="text" data-ng-model="i.name" class="form-control" placeholder="root-ns. | nome.authority." pattern=".*\.$"/>
                                  <p>Se WS inserire nodo DNS (site.com.)<br />
                                  Se NS non è authority lasciare vuoto</p>
                                </div>
                                <hr />
                            </div>
                            <label>Directly in {{x.name}}.startup:</label>
                            <textarea title="free" rows="2"  cols="40" class="form-control" data-ng-model="x.interfaces.free"></textarea>
                        </td>
                        <td class="gateways">
                            <div class="btn btn-success" data-ng-click="addGateway(x)">Add gateway</div>
                            <div class="btn btn-danger" data-ng-click="removeGateway(x)" data-ng-disabled="x.gateways.counter<=1">Remove last gw</div><br />
                            <div class="hidelasthr" data-ng-repeat="j in x.gateways.gw">
                                <div><label>Solo rotte non DC o ambigue</label>
                                  <p>Router e NS ambigui (LAN address)</p>
                                    <input type="text" data-ng-model="j.route" size="30" class="form-control" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" />

                                </div>
                                <div><label>Next GW dir.conn. (required):</label>
                                    <input type="text" data-ng-model="j.gw" size="30" class="form-control" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" /></div>
                                <div><label>Interface:</label>
                                    <select title="eth" data-ng-model="j.if" class="form-control">
                                        <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                                    </select></div>
                                <hr />
                            </div>
                        </td>
                        <td  data-ng-show="x.type=='ns'">
                            <div>
                                <div><input title="auth" type="checkbox" value="1" data-ng-model="x.ns.authority" /> I am a Nameserver Authority<br />
                                </div>
                                <div data-ng-show="x.ns.authority"><label>Zone (Root is .)</label>
                                    <input type="text" data-ng-model="x.ns.zone" class="form-control" required placeholder=".authority." pattern="(^\..*\.$)|^.$" /></div>
                                <div><input title="rec" type="checkbox" value="1" data-ng-model="x.ns.recursion" /> Enable recursive<br />
                                </div>
                            </div>
                        </td>
                        <td data-ng-show="x.type=='ws'">
                            <input title="userdir" type="checkbox" value="1" data-ng-model="x.ws.userdir" /> ABILITA <strong> userdir </strong> ?<br />
                            <em>/home/guest/public_html/index.html</em><br /><br />
                            <p>Alternative:<br />
                              a2enmod rewrite (URL rewr.)<br />
                              a2enmod proxy   <br />
                              a2enmod cgi/cgid</p>
                            <p>Per inserire pagine web<br />
                              CREA: <em>/var/www/index.html</em></p>
                        </td>
                        <td data-ng-show="x.type=='terminale'">
                            <label>Reference DNS <br /> (resolv.conf nameserver):</label>
                            <p>Per gli host term. il local NS</p><br /><br />
                            <select title="en" data-ng-model="x.pc.dns">
                                <option value="-" selected>-</option>
                                <optgroup data-ng-repeat="m in netkit" data-ng-if="m.type == 'ns'" label="{{m.name}}">
                                    <option data-ng-repeat="ifn in m.interfaces.if" value="{{ifn.ip.split('/')[0]}}">{{ifn.ip.split('/')[0]}}</option>
                                </optgroup>
                            </select>
                        </td>
                        <td data-ng-show="x.type=='router'">
                            <label>DYNAMIC Routing: </label>
                            <p>Lasciare vuoto per WS</p>
                            <p style="color:blue; font-size:11px;">
                              <strong>$</strong> telnet localhost zebra<br />
                              <strong>$</strong> telnet localhost ripd<br />
                              <strong>$</strong> telnet localhost ospfd<br />
                              <strong>$</strong> telnet localhost dgpd<br />
                            </p>
                            <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.rip.en" /> rip</div>
                            <div data-ng-show="x.routing.rip.en">
                                <span class="btn btn-success btn-square" data-ng-click="addRipNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeRipNetwork(x)" data-ng-disabled="x.routing.rip.network.length<=1">-</span>
                                <div data-ng-repeat="rnet in x.routing.rip.network track by $index">
                                    <label>Network (<strong style="color:red">LAN/sub</strong>interna totale ): </label>
                                    <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.network[$index]" />
                                </div>
                                <span class="btn btn-success btn-square" data-ng-click="addRipRoute(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeRipRoute(x)" data-ng-disabled="x.routing.rip.route.length<=1">-</span>
                                <div data-ng-repeat="rroute in x.routing.rip.route track by $index">
                                    <label>Route (empty to omit): </label>
                                    <input type="text" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.route[$index]" />
                                </div>

                                <div><input title="redistributeo" type="checkbox" value="1" data-ng-model="x.routing.rip.ospf" /> Redistribute OSPF</div>
                                <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.rip.bgp" /> Redistribute BGP (se R di frontiera)</div>
                                <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.rip.connected" /> Redistribute Connected (si)</div>

                                <label>Directly in ripd.conf:</label>
                                <textarea title="free" rows="2" cols="70" class="form-control" data-ng-model="x.routing.rip.free"></textarea>
                            </div>
                            <hr />
                            <div><input title="en" type="checkbox" value="ns" data-ng-model="x.routing.ospf.en" /> ospf</div>
                            <div data-ng-show="x.routing.ospf.en">
                                <span class="btn btn-success btn-square" data-ng-click="addOspfNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeOspfNetwork(x)" data-ng-disabled="x.routing.ospf.network.length<=1">-</span>
                                <div data-ng-repeat="onet in x.routing.ospf.network track by $index">
                                    <div>
                                        <label>Network (<strong style="color:red">LAN/sub</strong>interna totale ): </label>
                                        <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.ospf.network[$index]" />
                                    </div>
                                    <div>
                                        <label>Area: </label>
                                        <input type="text" placeholder="0.0.0.0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.ospf.area[$index]" />
                                    </div>
                                    <input title="stub" type="checkbox" value="1" data-ng-model="x.routing.ospf.stub[$index]" /> Stub?
                                </div>

                                <div><input title="redistributer" type="checkbox" value="1" data-ng-model="x.routing.ospf.rip" /> Redistribute RIP</div>
                                <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.ospf.bgp" /> Redistribute BGP (se R di frontiera)</div>
                                <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.ospf.connected" /> Redistribute Connected (si)</div>
                                <label>Costi: </label>
                                <div data-ng-repeat="o in x.interfaces.if">
                                    <div><input type="text" placeholder="0" class="form-control" data-ng-model="x.routing.ospf.if[o.eth.number].cost" pattern="[0-9]*" /></div>
                                    <select title="eth" data-ng-model="x.routing.ospf.if[o.eth.number].interface" class="form-control" style="margin-bottom: 4px;">
                                        <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                                    </select>
                                </div>
                                <label>Directly in ospfd.conf:</label>
                                <textarea title="free" rows="2" cols="70" class="form-control" data-ng-model="x.routing.ospf.free"></textarea>
                            </div>
                            <hr />
                            <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.bgp.en" /> bgp</div>
                            <div data-ng-show="x.routing.bgp.en">
                                <label>AS proprietario (solo numero): </label>
                                <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.as" required />
                                <span class="btn btn-success btn-square" data-ng-click="addBgpNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeBgpNetwork(x)" data-ng-disabled="x.routing.bgp.network.length<=1">-</span>
                                <div data-ng-repeat="bnet in x.routing.bgp.network track by $index">
                                    <label>Network :<br />(<strong style="color:red">LAN/sub</strong>interna totale) + (<strong style="color:red">LAN/sub</strong>confinanti esterne DC)</label>
                                    <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.bgp.network[$index]" />
                                </div>
                                <span class="btn btn-success btn-square" data-ng-click="addBgpNeighbor(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeBgpNeighbor(x)" data-ng-disabled="x.routing.bgp.remote.length<=1">-</span>
                                <div data-ng-repeat="bremote in x.routing.bgp.remote track by $index">
                                    <label>Neighbor: <br />(<strong style="color:red">IP</strong>interni di frontiera o <strong style="color:red">lo:1</strong>) + (<strong style="color:red">IP</strong>esterni DC ) </label>
                                    <input type="text" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].neighbor" />
                                    <label>Remote-AS: </label>
                                    <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].as" />
                                    <label>Description: (nome router completo per controllo)</label>
                                    <input type="text" title="description" class="form-control" data-ng-model="x.routing.bgp.remote[$index].description" />
                                </div>
                                <div>
                                    <label>Directly in bgpd.conf:</label>
                                    <textarea title="free" rows="2" cols="70" class="form-control" data-ng-model="x.routing.bgp.free"></textarea>
                                </div>
                            </div>
                            <hr />
                            <hr />
                            <p> SubNet: <a href="http://jodies.de/ipcalc">link</a> !</p>
                            <p> MED: metric <br /> PREF: local-preference </p>
                            <hr />
                        </td>
                    </tr>

                </table>

                <div class="btn btn-success" data-ng-click="addMachine()">Add machine</div>
                <div class="btn btn-danger" data-ng-click="removeMachine()" data-ng-disabled="counter<=1">Remove last machine</div><br />

                <br />
                <!-- AGGIUNGI SUGGERIMENTI QUI-->

                <div> <strong>·</strong> Suggerimenti da modificare e inserire manualmente nell'apposito file
                  <table>
                    <thead>
                      <th>File</th><th>Politica</th><th>Contenuto</th>
                    </thead>
                    <tr>
                      <td>WS.startup</td>
                      <td>RANDOM<br />
                      <p style="color:grey; font-size:10px;"><br />LAN richieste 10.0.0.0/24<br />
                      LAN Server 100.0.0.0/24<br />
                      Porta in. WS 10.0.0.2<br />
                      Porte in. S 100.0.0.1, 2, 3</p></td>
                      <td>
                        iptables -t nat -A POSTROUTING -s 10.0.0.0/24 -d 100.0.0.0/24 -j MASQUERADE<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.2 -m statistic --mode random --probability 0.33 -j DNAT --to-destination 100.0.0.1<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.2 -m statistic --mode random --probability 0.5 -j DNAT --to-destination 100.0.0.2<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.2 -j DNAT --to-destination 100.0.0.3<br />

                        echo "watch 'iptables -t nat -vnL'" >> /root/.bashrc</td>
                    </tr>
                    <tr>
                      <td>WS.startup</td>
                      <td>ROUND ROBIN<br />
                      <p style="color:grey; font-size:10px;"><br />LAN richieste 10.0.0.0/24<br />
                      LAN Server 100.0.0.0/24<br />
                      Porta in. WS 10.0.0.1<br />
                      Porte in. S 100.0.0.1, 2, 3</p></td>
                      <td>
                        iptables -t nat -A POSTROUTING -s 10.0.0.0/24 -d 100.0.0.0/24 -j MASQUERADE<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.1 -m statistic --mode nth --every 3 -j DNAT --to-destination 100.0.0.1<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.1 -m statistic --mode nth --every 2 -j DNAT --to-destination 100.0.0.2<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.1 -j DNAT --to-destination 100.0.0.3<br />

                        echo "watch 'iptables -t nat -vnL'" >> /root/.bashrc</td>
                    </tr>
                    <tr>
                      <td>WS.startup</td>
                      <td>IP<br />
                      <p style="color:grey; font-size:10px;"><br />LAN richieste 10.0.0.0/24<br />
                      LAN Server 100.0.0.0/24<br />
                      Porta in. WS 10.0.0.3<br />
                      Porte in. S 100.0.0.1, 2<br />
                      Client1 10.0.0.10<br />
                      Client2 10.0.0.11</p></td>
                      <td>
                        iptables -t nat -A POSTROUTING -s 10.0.0.0/24 -d 100.0.0.0/24 -j MASQUERADE<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.3 -s 10.0.0.10 -j DNAT --to-destination 100.0.0.1<br />
                        iptables -t nat -A PREROUTING -d 10.0.0.3 -s 10.0.0.11 -j DNAT --to-destination 100.0.0.2<br />

                        echo "watch 'iptables -t nat -vnL'" >> /root/.bashrc</td>
                    </tr>
                    <tr></tr>
                    <tr>
                      <td>R.bgpd.conf</td>
                      <td>PREFIX LIST<br />
                      <p style="color:grey; font-size:10px;"><br />
                      LAN privata R 100.0.0.0/24<br />
                      Porta R2 (vicino) 193.10.11.2<br />
                      LAN privata R2 200.0.0.0/24</p>
                      </td>
                      <td>
                        neighbor 193.10.11.2 prefix-list partialOut out<br />
                        neighbor 193.10.11.2 prefix-list partialIn in<br />
                        ip prefix-list partialOut permit 100.0.0.0/24<br />
                        ip prefix-list partialIn deny 200.0.0.0/24<br />
                        ip prefix-list partialIn permit any
                      </td>
                    </tr>
                    <tr>
                      <td>R.bgpd.conf</td>
                      <td>ACCESS-LIST<br />
                      <p style="color:grey; font-size:10px;"><br />
                      LAN privata R 100.0.0.0/24<br />
                      Porta R2 (vicino) 193.10.11.2<br />
                      LAN privata R2 200.0.0.0/24</p>
                      </td>
                      <td>
                        neighbor 193.10.11.2 route-map myRouteMap in<br />
                        route-map myRouteMap permit 10<br />
                        match ip address myAccessList<br />
                        set metric 5 <br />
                        set local-preference 25 <br />
                        access-list myAccessList permit 193.204.0.0/16
                      </td>
                    </tr>
                    <tr>
                      <td>R.bgpd.conf</td>
                      <td>DON'T USE ME<br />
                      <p style="color:grey; font-size:10px;"><br />
                      Porta R2 (vicino) 11.0.0.18<br />
                      Mio AS-PATH 20</p>
                      </td>
                      <td>
                        neighbor 11.0.0.18 default-originate route-map dontUseMe<br />
                        neighbor 11.0.0.18 route-map dontUseMe out<br />
                        route-map dontUseMe permit 10<br />
                        set as-path prepend 20 20 20
                      </td>
                    </tr>
                    <tr>
                      <td>R.bgpd.conf</td>
                      <td>LOODBACK<br />
                      <p style="color:grey; font-size:10px;"><br />
                      R annuncia la sua lo:1<br />
                      Ripeti per tutti i neighbor di frontiera<br />
                      R  lo:1 = 2.2.2.2/24<br />
                      R2 lo:1 = 1.1.1.1</p>
                      </td>
                      <td>
                        neighbor 1.1.1.1 remote-as ..<br />
                        neighbor 1.1.1.1 update-source 2.2.2.2<br />
                        neighbor 1.1.1.1 description ...<br />
                        -----------VEDI SOTTO----------------
                      </td>
                    </tr>
                    <tr>
                      <td>R.startup</td>
                      <td>LOODBACK<br />
                      <p style="color:grey; font-size:10px;"><br />
                      R definisce la sua lo:1<br />
                      lo:1 = 2.2.2.2/24</p>
                      </td>
                      <td>
                        ifconfig lo:1 2.2.2.2/24 up<br />
                      </td>
                    </tr>
                    <tr>
                      <td>R.bgpd.conf</td>
                      <td>PREF ME<br />
                      <p style="color:grey; font-size:10px;"><br />
                      R annuncia la sua preferenza nel<br />
                      traffico in uscita verso 30.1.0.2</p>
                      </td>
                      <td>
                        neighbor 30.1.0.2 route-map preferMe in<br />
                        route-map preferMe permit 10<br />
                        set local-preference 200<br />
                      </td>
                    </tr>
                    <tr>
                      <td>R.ospfd.conf</td>
                      <td>eBGP ONLY<br />
                      <p style="color:grey; font-size:10px;"><br />
                      R imposta di importare solo<br />
                      eBGP in OSPF da 30.2.0.20<br />
                      fanno lo stesso tutti i router<br />
                      di frontiera verso l'IP esterno DC</p>
                      </td>
                      <td>
                        redistribute bgp route-map eBGPonly<br />
                        route-map eBGPonly permit 10<br />
                        match ip next-hop prefix-list eBGPNextHops<br />
                        ip prefix-list eBGPNextHops permit 30.2.0.20/32
                      </td>
                    </tr>
                  </table>
                </div>

                <br />

                <a class="btn btn-primary" data-ng-click="makeDownload(generateScript(netkit, labInfo), 'netkit.script')"><strong>Download .sh file</strong></a>
                <a class="btn btn-primary" data-ng-click="generateZip(netkit, labInfo)"><strong>Download .zip file</strong></a>
                <br />
                <a class="btn btn-primary" data-ng-click="makeDownload(generateConfig(netkit, labInfo), 'netkit.config')"><strong>Export configuration</strong></a>
                <br />
                <a class="btn btn-primary" data-ng-click="import()"><strong>Import configuration</strong></a>
                <span class="file">
                    <input type="file" id="file" name="file" class="form-control hidden"
                           onchange="document.getElementById('file-text').value = lastElem(lastElem(this.value.split('/')).split('\\'));" />
                    <input type="button" class="btn btn-default btn-short" onclick="document.getElementById('file').click();" value="Browse..."><input id="file-text" type="text" class="form-control fakefile" title="file-text" onclick="document.getElementById('file').click();" readonly />
                </span>


                <br />
                <br />
                <hr />
                <br />

                <h4>Bash file preview:</h4>
                <textarea title="script" rows="15" readonly>{{ generateScript(netkit, labInfo) }}</textarea>
            </div>

            <div class="tab-pane" id="graph">
                <div class="btn btn-primary" data-ng-click="makeGraph(netkit)"><strong>Preview</strong>(force)</div>
                <div class="btn btn-default" data-ng-click="toggleGraphUpdate()">{{labInfo.toggle}} auto update</div>
                <span class="bg-warning">(enabling auto update may cause performance issues depending on your machine)</span>
                <div id="mynetwork"></div>
            </div>
        </div>
    </div>

</div>


<script src="js/vendor/angular.min.js"></script>
<script>
    if (typeof(angular)=="undefined")
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"><\/script>');
</script>
<script src="js/vendor/jszip.min.js"></script>
<script>
    if (typeof(JSZip)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/Stuk/jszip/master/dist/jszip.min.js"><\/script>');
</script>
<script src="js/vendor/FileSaver.min.js"></script>
<script>
    if (typeof(saveAs)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/eligrey/FileSaver.js/master/FileSaver.min.js"><\/script>');
</script>

<script src="js/helper.js"></script>
<script src="js/make_draw_model.js"></script>
<script src="js/vendor/vis.js"></script>
<script src="js/draw.js"></script>
<script src="js/make.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>



<script>
    window.onload= function() {
        console.log("  _______          __   __   .__  __    \n  \\      \\   _____/  |_|  | _|__|/  |_  \n  /   |   \\_/ __ \\   __\\  |/ /  \\   __\\ \n /    |    \\  ___/|  | |    <|  ||  |   \n \\____|__  /\\___  >__| |__|_ \\__||__|   \n         \\/     \\/          \\/         ");
    }
</script>

</body>
</html>
